* {margin: 0; padding: 0; box-sizing: border-box;}
html {font-family: 'Open Sans';}
h1 {font-size: 26px; font-weight: 900; background-color: orange; padding: 20px; color: #fff;}
h2 {font-size: 24px; font-weight: 900; margin-top: 15px;}
h3 {font-size: 22px; margin-top: 15px;}
h4 {font-size: 20px; margin-top: 15px;}
h5 {font-size: 18px; margin-top: 15px;}
h6 {font-size: 16px; margin-top: 15px;}
p {font-size: 15px; margin: 10px 0;}
blockquote {position: relative; font-size: 15px; font-style: italic; padding: 20px 70px; margin: 20px 50px; background-color: #f3f1ef;}
blockquote:before {position: absolute; top: -5px; left: 30px; content:'«';font-size: 50px; font-style: normal;}
blockquote:after {position: absolute; bottom: 5px; right: 30px; content:'»';font-size: 50px; font-style: normal;}
section {border: 1px solid #d8d8d8; max-width: 800px; margin: 20px auto; padding: 40px 30px; box-shadow: 0 2px 5px rgba(0,0,0,0.2);}
img {margin: 10px auto; display: block;}