blockquote {position: relative; font-size: 15px; font-style: italic; padding: 20px 70px; margin: 20px 50px; background-color: #f3f1ef;}
blockquote:before {position: absolute; top: -5px; left: 30px; content:'«';font-size: 50px; font-style: normal;}
blockquote:after {position: absolute; bottom: 5px; right: 30px; content:'»';font-size: 50px; font-style: normal;}
img {margin: 10px auto; display: block;}