table {border-collapse: collapse; width: 100%; font-size: 15px; background-color: black; color: #ffe5b9;}
td {border: 1px solid #7b7b7b; padding: 7px 15px;}
thead {background-color: #5f5f5f; font-weight: 700;}
tfoot {background-color: #9e3900; font-weight: 700;}